.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/*
 LESS DSS (dynamic stylesheet) 1.8.5 (for less.js 1.3+)
 MORE INFO: http://cl.ly/Dqnr

 LESS mixins by Chris Krupski
*/
/* Backgrounds Group
========================== */
/* @group gradient-veritical() */
/* @end */
/* @group background-clip() */
/* @end */
/* Box Group
========================== */
/* @option: box-display() */
/* @end */
/* @group box-shadow() */
/* @end */
/* Border Group
========================== */
/* @group rounded() */
/* @end */
/* Transform Group
========================== */
/* @group matrix() */
/* @end */
/* @group rotate() */
/* @end */
/* @group scale() */
/* @end */
/* @group translate() */
/* @end */
/* @group skew() */
/* @end */
/* Transition
========================== */
/* Animation Group
========================== */
/* Column
========================== */
/* Misc Group
========================== */
body {
  background: url(../img/low_contrast_linen.png);
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  min-width: 1200px;
}
.mini-header {
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999;
  text-transform: uppercase;
}
h3.mini-header {
  padding: 5px 0px 5px 15px;
  margin: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #eee;
  border-bottom: 1px solid #DDD;
}
.nav-tabs.full {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}
.nav-tabs.full .mini {
  margin: 0;
  font-size: 11px;
  background-color: #eee;
}
.mini-header-tabber {
  padding-top: 1px;
  background-color: #eee;
}
.mini-header-tabber ul.nav-tabs.mini {
  margin-top: 0px;
  margin-bottom: 10px;
}
.mini-header-tabber ul.nav-tabs.mini li > a {
  padding-top: 4px;
  padding-bottom: 2px;
  font-size: 12px;
}
.mini-header-tabber ul.nav-tabs.mini li > a.mini-header {
  padding-bottom: 2px;
}
.mini-header-tabber ul.nav-tabs.mini li.mini-header a {
  font-size: 11px;
  padding-bottom: 4px;
  padding-top: 2px;
  padding-left: 0;
  text-transform: uppercase;
  color: #999;
}
.mini-header-tabber ul.nav-tabs.mini li.mini-header a:hover {
  color: #999;
}
.container#root {
  background-color: white;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.navbar-inner {
  min-height: 20px;
}
.half {
  width: 49.95%;
  float: left;
}
.left-side {
  background-color: #fafafa;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
}
.left-side h1 {
  font-size: 30px;
  line-height: 40px;
  padding: 7px 0 7px 15px;
  margin: 0px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.left-side .upper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#right-side {
  overflow-y: scroll;
}
#right-side .alert.head {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 0px;
}
#right-side .upper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
}
.default-padding {
  padding: 10px;
}
.padding20 {
  padding: 20px;
}
.padding-side-20 {
  padding: 0 20px;
}
.padding-side-10 {
  padding: 0 10px;
}
.alert.alert-small {
  padding: 4px 15px 4px 6px;
}
.full-height {
  overflow-y: scroll;
}
#selected-reviewee-item-list {
  background-color: #a9a9a9;
}
.reviewee-list-item {
  padding-left: 20px;
}
.reviewee-list-item .cancel-x {
  display: none;
  width: 10px;
  height: 10px;
  float: right;
  margin: 10px 15px 10px 10px;
}
.keyword-picker {
  height: 300px;
  overflow-y: scroll;
}
.well.white {
  background-color: #fff;
}
.clickable:hover {
  cursor: pointer;
  background-color: #f0f8ff;
  color: black;
}
#global-filter {
  margin-bottom: 10px;
}
li.feedback:hover {
  cursor: pointer;
  background-color: #f0f8ff;
  color: black;
}
ul.no-bullet {
  list-style: none;
  margin-left: 0px;
}
.highlight {
  background-color: #ffff00;
}
.display-none {
  display: none;
}
table.feedback-grid {
  width: 100%;
  margin: 8px 4px 0;
}
table.feedback-grid div.rel {
  position: relative;
}
table.feedback-grid td {
  padding: 3px;
  width: 50%;
  position: relative;
  border: 0;
}
table.feedback-grid td .grid-cell {
  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 3px;
  padding: 5px;
  margin-bottom: 0;
  resize: none;
  overflow-y: scroll;
  font-size: 13px;
  height: 150px;
}
table.feedback-grid a.icon {
  position: absolute;
  right: 8px;
  bottom: 4px;
  background-color: rgba(255, 255, 255, 0.75);
}
@include opacity(0.5);
table.feedback-grid a.icon img {
  padding: 3px;
}
table.feedback-grid input[readonly],
table.feedback-grid textarea[readonly],
table.feedback-grid input[disabled],
table.feedback-grid textarea[disabled] {
  cursor: default;
  background-color: white !important;
}
.alert.alert-grey {
  color: #9d9d9d;
  background-color: #f5f5f5;
  border-color: #eeeeee;
}
.center {
  text-align: center;
}
[class*="keyword-list"] {
  padding-right: 20px;
}
[class*="keyword-list"] .keyword-item-bar {
  background-color: #2b8cff;
  height: 3px;
}
[class*="keyword-list"] .keyword {
  font-size: 12px;
  color: #666;
  margin-bottom: 4px;
}
[class*="keyword-list"] .count {
  margin-left: 5px;
  font-size: 80%;
  font-weight: bold;
  color: #aaa;
}
[class*="keyword-list"] .count:before {
  content: "x ";
  font-size: 90%;
}
.no-border-no-bg {
  border: none;
  background: none;
}
div.search-div {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-top: 3px;
  margin-bottom: 10px;
}
div.search-div input[type="search"] {
  width: 160px;
  padding: 0 20px 0 3px;
  font-size: 12px;
  height: 18px;
  margin-bottom: 0px;
}
div.search-div button {
  border: none;
  background: none;
  position: absolute;
  top: 1px;
  right: 3px;
  text-align: right;
  padding: 0;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: steelblue;
}
.x.axis path {
  display: none;
}
.bg-rect {
  fill: #fafafa;
}
.bar-rect {
  fill: #dddddd;
}
.bar-rect:hover {
  fill: #aaaaaa;
}
.bar-rect.brushing {
  fill: #99d6ff;
}
.bar-rect.selected {
  fill: #17803f;
}
.bar-rect.selected:hover {
  fill: #0f552a;
}
.bar-rect.brushed {
  fill: #0099ff;
}
.selecting circle.selected {
  stroke: #f00;
}
.brush .extent {
  stroke: #09f;
  fill: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
text {
  font-size: 12px;
}
hr {
  margin: 1px;
}
