<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <script src="./js/d3.v2.js"></script>
  <script src="./js/jquery.js"></script>
  <script src="./js/underscore.js"></script>
  <script src="./js/backbone.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="./js/d3.layout.cloud.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">


</head>

<script id="revieweeTemplate" type="text/template">
  <h1><span><%= name %></span></h1>
</script>

<script id="feedbackTemplate" type="text/template">
  <dl>
      <dt>Notable:</dt><dd><%= notable %></dd>
      <dt>Constructive:</dt><dd><%= constructive %></dd>
      <dt>Questions:</dt><dd><%= questions %></dd>
      <dt>Ideas:</dt><dd><%= ideas %></dd>
  </dl>
</script>

<script id="feedbackGridTemplate" type="text/template">

  <table class="feedback-grid">
    <tr>
      <td class="like">
        <div class="grid-cell"><%= notable %></div>
        <div class="rel"><a href="" class="icon" rel="tooltip"><img src="img/feedbackgrid/plus.png"/></a></div>
      </td>
      <td class="wish">
        <div class="grid-cell"><%= constructive %></div>
        <div class="rel"><a href="" class="icon" rel="tooltip"><img src="img/feedbackgrid/delta.png"/></a></div>
      </td>
    </tr>
    <tr>
      <td class="question">
        <div class="grid-cell"><%= questions %></div>
        <div class="rel"><a href="" class="icon" rel="tooltip"><img src="img/feedbackgrid/question.png"/></a></div>
      </td>
      <td class="big-idea">
        <div class="grid-cell"><%= ideas %></div>
        <div class="rel"><a href="" class="icon" rel="tooltip"><img src="img/feedbackgrid/lightbulb.png"/></a></div>
      </td>
    </tr>
  </table>

</script>

<script id="feedbackModalTemplate" type="text/template">
  <div class="feedbackModal modal hide fade" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Feedback</h3>
    </div>
    <div class="modal-body">

    </div>
  </div>
</script>

  <script id="aggregatedFeedbackFrameTemplate" type="text/template">
    <h4>Notable</h4>
    <div id="feedback_notable">
      <ol>
      </ol>
    </div>
    <h4>Constructive</h4>
    <div id="feedback_constructive">
      <ol>
      </ol>
    </div>
    <h4>Questions</h4>
    <div id="feedback_questions">
      <ol>
      </ol>
    </div>
    <h4>Ideas</h4>
    <div id="feedback_ideas">
      <ol>
      </ol>
    </div>
  </script>


  <div class="row-fluid">
    <div class="span6">
      <div class="default-padding">
        <div id="chart"></div>
      </div>
    </div>
    <div class="span6">
      <div class="default-padding">
        <div class="alert alert-info alert-small">
          Showing [Submissions Aggregated /One Submission]
        </div>
        <ul class="nav nav-tabs">
          <li>
            <a href="#tab-tag-cloud" data-toggle="tab">
              Tag Cloud
            </a>
          </li>
          <!-- <li>
            <a href="#tab-tag-list">
              Tag List
            </a>
          </li> -->
          <li>
            <a href="#tab-aggregate-grid" data-toggle="tab">
              Aggregate View
            </a>
          </li>
          <li class="active">
            <a href="#tab-individual-review" data-toggle="tab">
              Individual Reviews
            </a>
          </li>
          <!-- <li>
            <a href="#tab-word-tree">
              Word Tree
            </a>
          </li> -->
          <!-- <li class='pull-right no-link'>

          </li> -->
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="tab-tag-cloud">
            <div id="tag-cloud-notable"></div>
            <div id="tag-cloud-constructive"></div>
            <div id="tag-cloud-questions"></div>
            <div id="tag-cloud-ideas"></div>

          </div>
          <!-- <div class="tab-pane" id="tab-tag-list"></div> -->
          <div class="tab-pane" id="tab-aggregate-grid">
            <div id="aggregate-feedbacks"></div>
          </div>
          <div class="tab-pane active" id="tab-individual-review">
            <div id="feedbacks"></div>
          </div>
          <!-- <div class="tab-pane" id="tab-wordtree"></div> -->
        </div>

        <div id="reviewee"></div> <!-- TODO(kanitw): move this to somewhere it should be. -->

      </div>
    </div>
  </div>
  <script src="./js/app.stacked.chart.js"></script>
  <script src="./js/app.tagcloud.js"></script>

  <script type="text/javascript">

    d3.tsv("./data/a4.tsv", function(data) {
      data = _.filter(data, function(d){
        d.score = +d.score
        return !isNaN(d.score);
      });
      var teamMap = {};
      var notableFeedbackWords = [];
      var constructiveFeedbackWords = [];
      var questionsFeedbackWords = [];
      var ideasFeedbackWords = [];
      _.each(data, function(d, idx) {
        var processWord = function(words, array) {
          _(words).each(function (w) {
            array.push([w,d]);
          });
        }
        processWord(d.notable.split(" "), notableFeedbackWords);
        processWord(d.constructive.split(" "), constructiveFeedbackWords);
        processWord(d.questions.split(" "), questionsFeedbackWords);
        processWord(d.ideas.split(" "), ideasFeedbackWords);

        if (d["reviewed_id"] in teamMap) {
          teamMap[d["reviewed_id"]].push(d);
        } else {
          teamMap[d["reviewed_id"]] = [d];
        }
      });

      //Convert map to an array of object {teamid: id, score: average_score, reviews: reviews}
      var teamReviews = [];
      var count = 0;
      for(var key in teamMap) {
        teamReviews.push({teamid: key, reviews: teamMap[key]});
      }
      _.each(teamReviews, function(tr) {
        var sum = 0;
        _.each(tr.reviews, function(r) {
          sum += r.score;
        })
        if(tr.reviews.length > 10)
          count++;
        tr.score = Math.round(sum * 1.0 / tr.reviews.length);
      })
      console.log(count, "teams have more than 10 reivews" );
      console.log("teamReviews[0] = ", teamReviews[0]);

      var dir = new app.ReviewDir(teamReviews);
      dir.initPos(); //need to be called here

      var chart = new app.StackedChart({
        collection: dir,
        outer_width: 400,
        outer_height: 300

      });
      chart.render();

      var notableTagCloud = new app.TagCloud({
        id: "tag-cloud-notable",
        outer_width: 400,
        outer_height: 400
      });
      notableTagCloud.loadData(notableFeedbackWords);
      var constructiveTagCloud = new app.TagCloud({
        id: "tag-cloud-constructive",
        outer_width: 400,
        outer_height: 400
      });
      constructiveTagCloud.loadData(constructiveFeedbackWords);
      var questionsTagCloud = new app.TagCloud({
        id: "tag-cloud-questions",
        outer_width: 400,
        outer_height: 400
      });
      questionsTagCloud.loadData(questionsFeedbackWords);
      var ideasTagCloud = new app.TagCloud({
        id: "tag-cloud-ideas",
        outer_width: 400,
        outer_height: 400
      });
      ideasTagCloud.loadData(ideasFeedbackWords);
    });
  </script>
  <div id="feedback-modal">
  </div>
</body>
