<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <script src="./js/d3.v2.js"></script>
  <script src="./js/jquery.js"></script>
  <script src="./js/underscore.js"></script>
  <script src="./js/backbone.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="./js/d3.layout.cloud.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">


</head>

<script id="revieweeTemplate" type="text/template">
  <h1><span><%= name %></span></h1>
</script>

<script id="feedbackTemplate" type="text/template">
  <dl>
      <dt>Notable:</dt><dd><%= notable %></dd>
      <dt>Constructive:</dt><dd><%= constructive %></dd>
      <dt>Questions:</dt><dd><%= questions %></dd>
      <dt>Ideas:</dt><dd><%= ideas %></dd>
  </dl>
</script>

<script id="feedbackGridTemplate" type="text/template">

  <table class="feedback-grid">
    <tr>
      <td class="like">
        <div class="grid-cell"><%= notable %></div>
        <div class="rel"><a href="" class="icon" rel="tooltip"><img src="img/feedbackgrid/plus.png"/></a></div>
      </td>
      <td class="wish">
        <div class="grid-cell"><%= constructive %></div>
        <div class="rel"><a href="" class="icon" rel="tooltip"><img src="img/feedbackgrid/delta.png"/></a></div>
      </td>
    </tr>
    <tr>
      <td class="question">
        <div class="grid-cell"><%= questions %></div>
        <div class="rel"><a href="" class="icon" rel="tooltip"><img src="img/feedbackgrid/question.png"/></a></div>
      </td>
      <td class="big-idea">
        <div class="grid-cell"><%= ideas %></div>
        <div class="rel"><a href="" class="icon" rel="tooltip"><img src="img/feedbackgrid/lightbulb.png"/></a></div>
      </td>
    </tr>
  </table>

</script>

<script id="feedbackModalTemplate" type="text/template">
  <div class="feedbackModal modal hide fade" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Feedback</h3>
    </div>
    <div class="modal-body">

    </div>
  </div>
</script>

  <script id="aggregatedFeedbackFrameTemplate" type="text/template">
    <h4>Notable</h4>
    <div id="feedback_notable">
      <ol>
      </ol>
    </div>
    <h4>Constructive</h4>
    <div id="feedback_constructive">
      <ol>
      </ol>
    </div>
    <h4>Questions</h4>
    <div id="feedback_questions">
      <ol>
      </ol>
    </div>
    <h4>Ideas</h4>
    <div id="feedback_ideas">
      <ol>
      </ol>
    </div>
  </script>


  <div class="row-fluid">
    <div class="span6">
      <div class="default-padding">
        <div id="chart"></div>
      </div>
    </div>
    <div class="span6">
      <div id="right-side" class="tab-content">
        <div id="agg-right-side" class="tab-pane active">
          <!--aggregated right side-->
          <div class="alert alert-info alert-small">
            Showing Submissions Aggregated
          </div>
          <ul class="nav nav-tabs">
            <li>
              <a href="#agg-tab-tag-cloud" data-toggle="tab">
                Tag Cloud
              </a>
            </li>
            <!-- <li>
              <a href="#agg-tab-tag-list">
                Tag List
              </a>
            </li> -->
            <!-- <li>
              <a href="#agg-tab-word-tree">
                Word Tree
              </a>
            </li> -->
            <!-- <li class='pull-right no-link'>

            </li> -->
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="agg-tab-tag-cloud">
              <div class="tag-cloud-notable"></div>
              <div class="tag-cloud-constructive"></div>
              <div class="tag-cloud-questions"></div>
              <div class="tag-cloud-ideas"></div>
            </div>
            <!-- <div class="tab-pane" id="tab-tag-list"></div> -->

            <!-- <div class="tab-pane" id="tab-wordtree"></div> -->
          </div>


        </div>
        <div id="ind-right-side" class="tab-pane">
          <div class="alert alert-success alert-small">
            Showing Individual Team
            <!---TODO(kanitw): Need better word here-->
          </div>
          <div id="reviewee"></div>
          <ul class="nav nav-tabs">
            <li>
              <a href="#ind-tab-tag-cloud" data-toggle="tab">
                Tag Cloud
              </a>
            </li>
            <!-- <li>
              <a href="#tab-tag-list">
                Tag List
              </a>
            </li> -->
            <li>
              <a href="#ind-tab-aggregate-grid" data-toggle="tab">
                Aggregate View
              </a>
            </li>
            <li class="active">
              <a href="#ind-tab-individual-review" data-toggle="tab">
                Individual Reviews
              </a>
            </li>
            <!-- <li>
              <a href="#tab-word-tree">
                Word Tree
              </a>
            </li> -->
            <!-- <li class='pull-right no-link'>

            </li> -->
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="ind-tab-tag-cloud">
              <div class="tag-cloud-notable"></div>
              <div class="tag-cloud-constructive"></div>
              <div class="tag-cloud-questions"></div>
              <div class="tag-cloud-ideas"></div>
            </div>
            <div class="tab-pane" id="ind-tab-aggregate-grid">
              <div id="aggregate-feedbacks"></div>
            </div>
            <div class="tab-pane active" id="ind-tab-individual-review">
              <div id="feedbacks"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="./js/app.models.js"></script>
  <script src="./js/app.collections.js"></script>
  <script src="./js/app.views.feedback.js"></script>
  <script src="./js/app.views.feedbacks.js"></script>
  <script src="./js/app.views.aggregated-feedback.js"></script>
  <script src="./js/app.views.feedback-modal.js"></script>
  <script src="./js/app.views.reviewee.js"></script>
  <script src="./js/app.stacked-chart.js"></script>
  <script src="./js/app.tag-cloud.js"></script>

  <script type="text/javascript">
    function showIndividualView(show){
      if(show){
        $("#agg-right-side").removeClass('active');
        $("#ind-right-side").addClass('active');
      }else{
        $("#agg-right-side").addClass('active');
        $("#ind-right-side").removeClass('active');
      }
    }


    d3.tsv("./data/a4.tsv", function(data) {
      data = _.filter(data, function(d){
        d.score = +d.score
        return !isNaN(d.score);
      });
      var teamMap = {};
      var notableFeedbackWords = [];
      var constructiveFeedbackWords = [];
      var questionsFeedbackWords = [];
      var ideasFeedbackWords = [];
      var processWord = function(review, notableWords, constructiveWords, questionsWords, ideasWords) {
          _(review.notable.split(" ")).each(function (w) {
            notableWords.push([w,review]);
          });
          _(review.constructive.split(" ")).each(function (w) {
            constructiveWords.push([w,review]);
          });
          _(review.questions.split(" ")).each(function (w) {
            questionsWords.push([w,review]);
          });
          _(review.ideas.split(" ")).each(function (w) {
            ideasWords.push([w,review]);
          });
      };
      _.each(data, function(d, idx) {
        processWord(d, notableFeedbackWords, constructiveFeedbackWords, questionsFeedbackWords, ideasFeedbackWords);

        if (d["reviewed_id"] in teamMap) {
          teamMap[d["reviewed_id"]].push(d);
        } else {
          teamMap[d["reviewed_id"]] = [d];
        }
      });

      //Convert map to an array of object {teamid: id, score: average_score, reviews: reviews}
      var teamReviews = [];
      var count = 0;
      for(var key in teamMap) {
        teamReviews.push({teamid: key, reviews: teamMap[key]});
      }
      _.each(teamReviews, function(tr) {
        var sum = 0;
        _.each(tr.reviews, function(r) {
          sum += r.score;
        })
        if(tr.reviews.length > 10)
          count++;
        tr.score = Math.round(sum * 1.0 / tr.reviews.length);
      })
      console.log(count, "teams have more than 10 reivews" );
      console.log("teamReviews[0] = ", teamReviews[0]);

      var dir = new app.ReviewDir(teamReviews);
      dir.initPos(); //need to be called here
      var idvCloudCreated = false;
      var notableTagCloud;
      var constructiveTagCloud;
      var questionsTagCloud;
      var ideasTagCloud;
      var createTagCloud = function(parentid, notableWords, constructiveWords, questionsWords, ideasWords) {
        notableTagCloud = new app.TagCloud({
          id: parentid + " .tag-cloud-notable",
          outer_width: 400,
          outer_height: 400
        });
        notableTagCloud.loadData(notableWords);

        constructiveTagCloud = new app.TagCloud({
          id: parentid + " .tag-cloud-constructive",
          outer_width: 400,
          outer_height: 400
        });

        constructiveTagCloud.loadData(constructiveWords);

        questionsTagCloud = new app.TagCloud({
          id: parentid + " .tag-cloud-questions",
          outer_width: 400,
          outer_height: 400
        });

        questionsTagCloud.loadData(questionsWords);

        ideasTagCloud = new app.TagCloud({
          id: parentid + " .tag-cloud-ideas",
          outer_width: 400,
          outer_height: 400
        });

        ideasTagCloud.loadData(ideasWords);
      }

      var chart = new app.StackedChart({
        collection: dir,
        outer_width: 400,
        outer_height: 300,
        onItemClick: function(d){
          showIndividualView(true);
          console.log("onItemClick: ");
          console.log(d);

          var feedbacks = _.map(d.reviews, function(r) {
            // console.log(r);
            return {notable: r.notable, constructive: r.constructive, questions: r.questions, ideas: r.ideas};
          });
          var f = new app.FeedbacksView({
            collection:feedbacks,
            el: '#feedbacks'
          });
          var aggregatedFeedbackView = new app.FeedbacksAggregatedView(feedbacks);
          new app.RevieweeView(d);
          console.log("number of reviews: ", feedbacks.length);
          var idvNotableFeedbackWords = [];
          var idvConstructiveFeedbackWords = [];
          var idvQuestionsFeedbackWords = [];
          var idvIdeasFeedbackWords = [];

          _(d.reviews).each(function(r) {
            processWord(r, idvNotableFeedbackWords, idvConstructiveFeedbackWords, idvQuestionsFeedbackWords, idvIdeasFeedbackWords);
          });

          createTagCloud("ind-tab-tag-cloud", idvNotableFeedbackWords, idvConstructiveFeedbackWords, idvQuestionsFeedbackWords, idvIdeasFeedbackWords);

        }
      });
      chart.render();
      createTagCloud("agg-tab-tag-cloud", notableFeedbackWords, constructiveFeedbackWords, questionsFeedbackWords, ideasFeedbackWords);

    });
  </script>
  <div id="feedback-modal">
  </div>
</body>
