<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <script src="./js/d3.v2.js"></script>
  <script src="./js/jquery.js"></script>
  <script src="./js/jquery.highlight-4.js"></script>
  <script src="./js/underscore.js"></script>
  <script src="./js/backbone.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="./js/d3.layout.cloud.js"></script>

  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="css/style.css"/>

</head>


<script id="indScoreTemplate" type="text/template">
  <h4><span><%= score %></span></h4>
</script>

<script id="revieweeTemplate" type="text/template">
  <h1><span><%= name %></span></h1>
</script>

<script id="revieweeDetailTemplate" type="text/template">
  <div>
    <div class="icon">
    </div>
    <h3>Team <%= name %></h3>
    <div>
      <b>First Industry: </b>
      <%=first_industry_sector%>
    </div>
    <div>
      <b>Second Industry: </b>
      <%=second_industry_sector%>
    </div>

    <div>
      <b>Team Score: </b>
      <%=team_score%>
    </div>




    <div id="revieweeDetailchart">
    </div>
  </div>

</script>

<script id="feedbackTemplate" type="text/template">
  <dl>
      <dt>Notable:</dt><dd><%= notable %></dd>
      <dt>Constructive:</dt><dd><%= constructive %></dd>
      <dt>Questions:</dt><dd><%= questions %></dd>
      <dt>Ideas:</dt><dd><%= ideas %></dd>
  </dl>
</script>
<script id="feedbacksTemplate" type="text/template">
  <div class="row-fluid">
    <div class="span3">

      <div class="indscores"></div>
    </div>
    <div class="span9">

      <div class="feedbacks"></div>
    </div>
  </div>

</script>

<script id="feedbackGridTemplate" type="text/template">

  <table class="feedback-grid">
    <tr>
      <td class="like">
        <div class="grid-cell"><%= notable %></div>
        <div class="rel"><a href="" class="icon" rel="tooltip"><img src="img/feedbackgrid/plus.png"/></a></div>
      </td>
      <td class="wish">
        <div class="grid-cell"><%= constructive %></div>
        <div class="rel"><a href="" class="icon" rel="tooltip"><img src="img/feedbackgrid/delta.png"/></a></div>
      </td>
    </tr>
    <tr>
      <td class="question">
        <div class="grid-cell"><%= questions %></div>
        <div class="rel"><a href="" class="icon" rel="tooltip"><img src="img/feedbackgrid/question.png"/></a></div>
      </td>
      <td class="big-idea">
        <div class="grid-cell"><%= ideas %></div>
        <div class="rel"><a href="" class="icon" rel="tooltip"><img src="img/feedbackgrid/lightbulb.png"/></a></div>
      </td>
    </tr>
  </table>

</script>

<script id="revieweeViewTemplate" type="text/template">
  <div class="alert alert-success alert-small">
    Showing Individual Team
    <!---TODO(kanitw): Need better word here-->
  </div>
  <div id="reviewee-detail-<%=viewId%>"></div>
  <ul class="nav nav-tabs">
    <li>
      <a href="#ind-tab-tag-cloud" data-toggle="tab">
        <!-- TODO this should become ind-tab-tag-cloud-<%=viewId%> -->
        Tag Cloud
      </a>
    </li>
    <!-- <li>
      <a href="#tab-tag-list-<%=viewId%>">
        Tag List
      </a>
    </li> -->
    <li>
      <a href="#ind-tab-aggregate-grid-<%=viewId%>" data-toggle="tab">
        Aggregate View
      </a>
    </li>
    <li class="active">
      <a href="#ind-tab-individual-review-<%=viewId%>" data-toggle="tab">
        Individual Reviews
      </a>
    </li>
    <!-- <li>
      <a href="#tab-word-tree-<%=viewId%>">
        Word Tree
      </a>
    </li> -->
    <!-- <li class='pull-right no-link'>

    </li> -->
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="ind-tab-tag-cloud">
      <!-- TODO this should become ind-tab-tag-cloud-<%=viewId%> -->
      <div class="tag-cloud-notable"></div>
      <div class="tag-cloud-constructive"></div>
      <div class="tag-cloud-questions"></div>
      <div class="tag-cloud-ideas"></div>
    </div>
    <div class="tab-pane" id="ind-tab-aggregate-grid-<%=viewId%>">
    </div>
    <div class="tab-pane active" id="ind-tab-individual-review-<%=viewId%>"></div>
  </div>
</script>



<script id="revieweesViewTemplate" type="text/template">
  <div class="alert alert-grey alert-small" id="reviewees-show-all-<%=viewId%>">
    Showing All Submissions
  </div>
  <div class="alert alert-info alert-small display-none" id="reviewees-show-agg-<%=viewId%>">
    Showing Submissions Aggregated
  </div>
  <ul class="nav nav-tabs">
    <li>
      <a href="#agg-tab-tag-cloud" data-toggle="tab">
        <!-- TODO(kanitw): Wei please add -<%=viewId%> -->
        Tag Cloud
      </a>
    </li>
    <!-- <li>
      <a href="#agg-tab-tag-list-<%=viewId%>">
        Tag List
      </a>
    </li> -->
    <!-- <li>
      <a href="#agg-tab-word-tree-<%=viewId%>">
        Word Tree
      </a>
    </li> -->
    <!-- <li class='pull-right no-link'>

    </li> -->
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="agg-tab-tag-cloud">
    <!-- TODO(kanitw): Wei please add -<%=viewId%> -->
    <div class="tag-cloud-notable"></div>
    <div class="tag-cloud-constructive"></div>
    <div class="tag-cloud-questions"></div>
    <div class="tag-cloud-ideas"></div>
  </div>
    <!-- <div class="tab-pane" id="agg-tab-tag-list-<%=viewId%>"></div> -->

    <!-- <div class="tab-pane" id="agg-tab-wordtree-<%=viewId%>"></div> -->

</script>

<script id="feedbackModalTemplate" type="text/template">
  <div class="feedbackModal modal hide fade" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Feedback</h3>
    </div>
    <div class="modal-body">

    </div>
  </div>
</script>

<script id="keywordListTemplate" type="text/template">
  <div class="keywordList">
     <div class="keywordList_notable span4">
      <h4>Notable</h4>
      <ul>
      </ul>
    </div>

    <div class="keywordList_constructive span4">
      <h4>Constructive</h4>
      <ul>
      </ul>
    </div>

    <div class="keywordList_questions span4">
      <h4>Questions</h4>
      <ul>
      </ul>
    </div>

    <div class="keywordList_ideas span4">
      <h4>Ideas</h4>
      <ul>
      </ul>
    </div>
  </div>
</script>

<script id="aggregatedFeedbackFrameTemplate" type="text/template">
  <div class="search-container">
    <input type="text" class="search-field" placeholder="search"></input>
    <span class="found-count"></span>
  </div>

  <div class="feedback_notable">
    <h4>Notable</h4>
    <ul>
    </ul>
  </div>

  <div class="feedback_constructive">
    <h4>Constructive</h4>
    <ul>
    </ul>
  </div>

  <div class="feedback_questions">
    <h4>Questions</h4>
    <ul>
    </ul>
  </div>

  <div class="feedback_ideas">
    <h4>Ideas</h4>
    <ul>
    </ul>
  </div>
</script>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">

      <div class="brand">
        &nbsp; Peereviz
      </div>
      <ul class="nav pull-right">
        <li>

          <a id="total-count"></a>
        </li>
      </ul>

      <ul class="nav">

        <!-- <li class="active">
          <a href="#col-tab"  data-toggle="tab">
            1. Select Axes
          </a>
        </li>

        <li>
          <a href="#sub-tab"  data-toggle="tab">
            2. Filter
          </a>
        </li> -->
       <!--  <li>
          <a href="#color-tab"  data-toggle="tab">
            Color Coding?? (Just idea)
          </a>
        </li> -->

        <li>
          <a href="#about-tab"  data-toggle="tab">
            About
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container" id="root">
    <div class="row-fluid" >
      <div class="span6">
        <div class="white well ">
          <div class="default-padding">
            <div id="chart"></div>
          </div>
      </div>
      </div>
      <div class="span6">
        <div class="white well">
        <div id="right-side" class="tab-content">
          <div id="all-right-side" class="tab-pane active"></div>
          <div id="agg-right-side" class="tab-pane"></div>
          <div id="ind-right-side" class="tab-pane"></div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <script src="./js/app.models.js"></script>
  <script src="./js/app.collections.js"></script>
  <script src="./js/app.views.feedback.js"></script>
  <script src="./js/app.views.feedbacks.js"></script>
  <script src="./js/app.views.aggregated-feedback.js"></script>
  <script src="./js/app.views.feedback-modal.js"></script>
  <script src="./js/app.views.reviewee-detail.js"></script>
  <script src="./js/app.views.indscore.js"></script>
  <script src="./js/app.views.indscores.js"></script>
  <script src="./js/app.views.reviewee.js"></script>
  <script src="./js/app.views.reviewees.js"></script>
  <script src="./js/app.stacked-chart.js"></script>
  <script src="./js/app.model.frequentWords.js"></script>
  <script src="./js/app.tag-cloud.js"></script>
  <script src="./js/app.js"></script>

  <div id="feedback-modal">
  </div>
</body>
</html>
